<div class="container">
    <app-cockpit (server)="onServer($event)"></app-cockpit>
</div>
<hr>
<div class="list-group">
    <app-server-element *ngFor="let server of servers" [server]="server">
        <p [ngStyle]="{'color': server.type === 'blueprint'? 'blue': 'red'}">{{server.content}}</p>
    </app-server-element>
</div>