<div class="row">
    <div class="col-md-12">
        <form>
            <div class="row">
                <div class="col-md-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" #name class="form-control">
                </div>
                <div class="col-md-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" #amount class="form-control">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <button type="submit" (click)="onAddShoppingList()" class="btn btn-success mr-2">Add</button>
                    <button type="button" class="btn btn-danger mr-2">Delete</button>
                    <button type="button" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>