<div class="row mt-5">
    <div class="col-md-12">
        <img [src]="receipe.imagePath" height="400px" alt="{{receipe.name}}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>{{receipe.name}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" type="button">Manage</button>
            <ul class="dropdown-menu">
                <li><a href="#">To Shopping List</a></li>
                <li><a href="#">Edit Receipe</a></li>
                <li><a href="#">Delete Receipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{receipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Ingredients
    </div>
</div>