<div class="row mt-4">
  <div class="col-md-12">
    <button class="btn btn-success">New Receipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <app-receipe-item *ngFor="let receipe of receipes" (click)="onSelectReceipe(receipe)" [receipe]="receipe"></app-receipe-item>
  </div>
</div>
