<input type="text" [(ngModel)]="serverName" class="form-control mb-3 col-md-5" placeholder="Enter server name">
<button type="button" (click)="onCreateServer()" [disabled]="serverName===''" class="btn btn-primary text-center">Add Server</button>

<p *ngIf="serverCreated; else noServer;">Server was created and it's name <b>{{serverName}}</b></p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template><hr>
<app-server></app-server>