<div class="row">
    <div class="col-md-10">
        <app-shopping-list-edit (shoppingList)="onAddShoppingList($event)"></app-shopping-list-edit>
        <hr>
        <div class="list-group">
            <a class="list-group-item" style="cursor: pointer;" *ngFor="let ingredient of ingredients">
                {{ingredient.name}} ({{ingredient.amount}})
            </a>
        </div>
    </div>
</div>