<div class="card mt-2">
    <div class="card-header">
        <h5 [ngStyle]="{'color': server.type === 'blueprint'? 'blue': 'red'}">{{server.serverName}}</h5>
    </div>
    <div class="card-body">
        <ng-content></ng-content>
    </div>
</div>