<div class="row">
    <div class="col-md-12">
        <button type="button" (click)="onStartGame()" class="btn btn-success mr-3">Start</button>
        <button type="button" (click)="onPauseGame()" class="btn btn-danger">Pause</button>
    </div>
</div>