<div class="row">
    <div class="col-md-5">
        <app-receipe-list (selectedReceipe)="onSelectReceipe($event)"></app-receipe-list>
    </div>
    <div class="col-md-7">
        <app-receipe-detail *ngIf="selectedReceipe; else noSeletedReceipe;" [selecetedReceipe]="selectedReceipe"></app-receipe-detail>
        <ng-template #noSeletedReceipe>
            <p class="mt-5">Please select a receipe!</p>
        </ng-template>
    </div>
</div>