<div class="row">
    <div class="col-md-12">
        <h6>Add New Server or Blueprints</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label for="serverName">Server Name</label>
        <input type="text" id="serverName" #serverInput [(ngModel)]="serverName" class="form-control" placeholder="Enter Server Name">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label for="content">Content</label>
        <input type="text" id="content" [(ngModel)]="content" class="form-control" placeholder="Enter Server Content">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success mt-3 mr-3" (click)="onCreateServer('server')" type="button">Add</button>
        <button class="btn btn-primary mt-3" (click)="onCreateServer('blueprint')" type="button">Add Server Blueprints</button>
    </div>
</div>

{{serverName}}-{{serverInput.value}} <!--local reference (serverInput)-->