<app-header (selectedFeature)="onNavigate($event)"></app-header>
<div class="container row">
  <div class="col-md-12">
    <app-receipes *ngIf="selectedFeature === 'receipe'"></app-receipes>
    <app-shopping-list *ngIf="selectedFeature !== 'receipe'"></app-shopping-list>
  </div>
  <!-- <div class="col-md-12">
    <app-servers></app-servers>
  </div>
  <hr>
  <div class="col-md-12">
    <app-game-control (intervalRef)="onInvervalChanges($event)"></app-game-control>
  </div>
  <div class="col-md-12">
    <app-odd *ngFor="let odd of oddNumbers" [number]="odd"></app-odd>
    <app-even *ngFor="let even of evenNumbers" [number]="even"></app-even>
  </div> -->
</div>