<a href="#" class="list-group-item clearfix mt-2">
    <div class="float-left">
      <h4 class="list-group-item-heading">{{receipe.name}}</h4>
      <p class="list-group-item-text">{{receipe.description}}</p>
    </div>
    <div class="float-right">
      <img [src]="receipe.imagePath" alt="receipe.name" class="img-responsive" style="max-height: 50px;">
    </div>
  </a>